.pageContainer{
  background-color: #f6e9cd;
  height:1200px;
  margin:50px 200px;
  border-radius: 40px;
  color:#000000;
}

.pageHeader{
  background-color: #f6e9cd;
  height:60px;
  display: flex;           
  list-style: none;       
  gap: 2rem;             
  padding: 0 0 0 70px;            
  margin: 0;    
}

nav ul {
  display: flex;   
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}

.headerLink{
  text-decoration: none;  
  color: #000000;           
  font-weight: 500;        
  padding: 0.5rem 0;      
  transition: color 0.3s;
}

.headerLink:hover {
  color: #464545;          
}

.pageTitle{
  margin:80px 0 25px 0;
  padding-top: 50px;
  font-weight: 600;
  text-align: center;
  font-size: 60px;
  
}

.inputSection{
  padding-left:50px;
}
.inputs-grid{
  padding-right: 40px;
  width:600px;
}
.inputTitle {
  font-size:28px;
  margin-bottom:16px;
}
.equationInfo{
  display: flex;
  margin-bottom: 50px;

}

.inputBlockText{
  margin-bottom: 20px;
}

.button-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
